@model HomeModel //comando para a view ter contato com a model. Lendo o conteudo dela

@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
</div>
