@model HomeModel //comando para a view ter contato com a model. Lendo o conteudo dela

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Ao site, @Model.Nome</h1>
    <p>Learn about.</p>
</div>
