@model HomeModel //comando para a view ter contato com a model. Lendo o conteudo dela

@{
    ViewData["Title"] = "AreaAluno";
}

<div class="text-center">
    <h1 class="display-4">Area do Aluno</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"> Horarios </th>
      <th scope="col">Segunda-Feira</th>
      <th scope="col">Terça-Feira</th>
      <th scope="col">Quarta-Feira</th>
      <th scope="col">Quarta-Feira</th>
      <th scope="col">Quarta-Feira</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 7 as 11</th>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
    </tr>
    <tr>
      <th scope="row">11 as 15</th>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
    </tr>
    <tr>
      <th scope="row">15 as 19</th>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
      <td>aula</td>
    </tr>
  </tbody>
</table>