@model LoginModel

@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Área do Aluno";
}

<div class="container">
            <div class="box">
                <a href="#inserir-notas">
                    <h2>Inserir Notas</h2>
                </a>
            </div>
            <div class="box">
                <a href="#visualizar-turma">
                    <h2>Visualizar Turmas</h2>
                </a>
            </div>
</div>


