@model LoginModel //comando para a view ter contato com a model. Lendo o conteudo dela

@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Area do Aluno";
}

<div class="text-center">
    <h1 class="display-4">Area do Aluno</h1>
</div>

